input[type="text"],
textarea,
textarea.form-control {
    -moz-border-radius: 0;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 12px;
    transition: all .3s;
    vertical-align: middle;
}

textarea,
textarea.form-control {
    line-height: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type="text"]:focus,
textarea:focus,
textarea.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    border: 0;
    box-shadow: none;
    outline: 0;
}

input[type="text"]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }


label {
    font-weight: 400;
    opacity: 0.8;
}

label.checkbox-inline, label.radio-inline {
    font-weight: 400;
    margin-right: 15px;
}

.checkbox-inline input[type="checkbox"], .radio-inline input[type="radio"] { position: static; }


button.btn {
    -moz-border-radius: 0;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #a93a52;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0 20px;
    text-shadow: none;
    transition: all .3s;
    vertical-align: middle;
}

button.btn:hover {
    color: #fff;
    opacity: 0.6;
}

button.btn:active {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

button.btn:focus {
    background: #a93a52;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}

button.btn:active:focus, button.btn.active:focus {
    background: #a93a52;
    color: #fff;
    opacity: 0.6;
    outline: 0;
}


select.form-control {
    -moz-border-radius: 0;
    -moz-box-shadow: none;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    -webkit-transition: all .3s;
    background: #fff;
    background: rgba(255, 255, 255, 0.6);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 12px;
    transition: all .3s;
    vertical-align: middle;
}

select.form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #fff;
    border: 0;
    box-shadow: none;
    outline: 0;
}